@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Home Page");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}

@*<style>
    .img-custo {
        width: 20%;
        HEIGHT: 20%;
    }

</style>






<link rel="stylesheet" href="~/css/site.css" />*@



<body dir="@(isRTL ? "RTL" : "LTR")">
   
    
    <div class="col-md-12 row p-2">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="~/img/SDLPS.png" 
                 class="mx-auto d-block p-2"
                 alt="Responsive image" 
                 style="width: 100%;max-height: 100%">
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="col-md-12 row p-2">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <img src="~/img/SDLPS.png"
             class="mx-auto d-block p-2"
             alt="Responsive image"
             style="width: 30%;max-height: 60%">
        </div>
        <div class="col-md-1"></div>
    </div>

    </div>
    @*<div class="container text-center my-2" style="width:100%">
        <div class="row mx-auto my-auto justify-content-center"  >
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/agribank.png" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bank_makan.png" />
                                </div>
                                <div class="card-img-overlay">Slide 2</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bank_melli.png" />
                                </div>
                                <div class="card-img-overlay">Slide 3</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bank_saderat.png" />
                                </div>
                                <div class="card-img-overlay">Slide 4</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bank_sepah.png" />
                                </div>
                                <div class="card-img-overlay">Slide 5</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bank-ansar.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bank-ansar.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/banke-markazi.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bankkarafarin.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/bank-mellat.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/enbank.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/parsian.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/refah-bank.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/saman.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/sarmaye-bank.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/sarmaye-bank.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/sina-bank.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/tose'e-bank.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active d-flex">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="~/img/banklogo/tose'efinance.png" />
                                </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <script>
        let items = document.querySelectorAll('.carousel .carousel-item')

        items.forEach((el) => {
            const minPerSlide = 4
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })
    </script>*@


</body>



@*<body dir="@(isRTL ? "RTL" : "LTR")">
    <div class="text-center">
        <h1 class="display-4">@localizationService.GetLocalizedHtmlString("PayamSaman")</h1>
        <div class="contant-wrapper">

            <img src="~/img/SDLPS.png" class="mx-auto d-block" alt="Responsive image">

        </div>


        <div class="container">
            <div id="carouselExample" class="carousel slide" style="height: 100px; background-color: rgba(255,0,0,.1);">
                <div class="carousel-inner">
                    <div class="carousel-item img-thumbnail active" >
                        <img src="~/img/banklogo/agribank.png" class="mx-2 d-block mg-thumbnail" alt="...">
                    </div>
                    <div class="carousel-item img-thumbnail" >
                        <img src="~/img/banklogo/bank_makan.png" class="mx-2 d-block mg-thumbnail" alt="...">
                    </div>
                </div>
            </div>
        </div>


        @*<div class="carousel slide col-md-12">
        <div class="mh-100" ">
        <img src="~/img/banklogo/agribank.png" class="img-thumbnail" style="left"/>
        </div>

        <div class="mh-100" style="width: 100px; height: 200px; background-color: rgba(0,0,255,.1);">
        <img src="~/img/banklogo/bank_makan.png" class="img-thumbnail" style="right" />
        </div>
        </div>


        <div id="carouselExample" class="carousel slide col-md-12 " style="height:100px" >
        <div class="carousel-inner">
        <div class="carousel-item img-thumbnail active">
        <img src="~/img/banklogo/agribank.png" class="mx-auto d-block" alt="...">
        </div>
        <div class="carousel-item img-thumbnail">
        <img src="~/img/banklogo/bank_makan.png" class="mx-auto d-block" alt="...">
        </div>
        <div class="carousel-item img-thumbnail">
        <img src="~/img/banklogo/bank_melli.png" class="mx-auto d-blockg" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        </div>


    </div>
</body>*@
