
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <form asp-area="" asp-controller="Home" asp-action="Index">
            <div >
                @*<label asp-for=""></label>*@
            </div>

        </form>
    </div>

</div>