@page
@model SDLV1.Pages.Users.ChangePasswordModel
@{
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>تغییر رمز عبور  </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item active"> صندوق امانات بانک ملت  </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <p> @Html.ValidationMessage("CreateError")</p>
        </div>
        <div class="row">
            <div class="container">
                <div class="card card-primary col-8">
                    @if(Model.ChangePassword.IsSuccessUser)
                    {
                        <form asp-page-handler="VerifyCode">
                            <div class="card-body card-custom">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ChangePassword.UserCode"></label>
                                        <input asp-for="ChangePassword.UserCode" class="form-control" />
                                        <span class="text-danger" asp-validation-for="ChangePassword.UserCode"></span>
                                    </div>
                                </div>
                               
                                <p>@Html.ValidationMessage("DeclarationOfIdentity")</p>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ثبت اطلاعات </button>
                            </div>
                        </form>
                    }
                    else if(Model.ChangePassword.IsSuccessCode)
                    {

                    }
                    else
                    {
                        <form  asp-page-handler="VerifyUser" >
                            <div class="card-body card-custom">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ChangePassword.UserName"></label>
                                        <input asp-for="ChangePassword.UserName" class="form-control" />
                                        <span class="text-danger" asp-validation-for="ChangePassword.UserName"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" asp-for="ChangePassword.SendMobail" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label pe-4" for="flexSwitchCheckDefault">اعتبار سنجی با ایمیل </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" asp-for="ChangePassword.SendMobail" type="checkbox" role="switch" id="flexSwitchCheckChecked" >
                                        <label class="form-check-label pe-4" for="flexSwitchCheckChecked">اعتبار سنجی با موبایل</label>
                                    </div>
                                </div>
                                <p>@Html.ValidationMessage("DeclarationOfIdentity")</p>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ثبت اطلاعات </button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


