@page
@model SDLV1.Pages.State.EditModel
@{
}
<section class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1>افزودن  استان  </h1>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
               <li class="breadcrumb-item active"> صندوق امانات بانک ملت  </li>
            </ol>
         </div>
      </div>
   </div>
</section>

<section class="content">
   <div class="container-fluid">
      <div class="col-md-12">
         <p> @Html.ValidationMessage("CreateError")</p>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="card card-primary">
               <form method="post" asp-page="Edit">
                  <div class="card-body card-custom">
                     <input type="hidden" asp-for="State.Id" />
                     <div class="col-md-6">
                        <div class="form-group">
                           <label asp-for="State.Name"></label>
                           <input asp-for="State.Name" class="form-control" />
                           <span class="text-danger" asp-validation-for="State.Name"></span>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label asp-for="State.StateCode"></label>
                           <input asp-for="State.StateCode" class="form-control" />
                           <span class="text-danger" asp-validation-for="State.StateCode"></span>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <button type="submit" class="btn btn-primary">ثبت اطلاعات </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>