@page
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@model ConfirmEmailModel

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Confirm email");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}
@{
    ViewData["Title"] = "Confirm email";
}

<h1 dir="@(isRTL ? "RTL" : "LTR")">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
