@page
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@model ConfirmEmailModel

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Confirm email");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");

}

<div class="container-md justify-content-md-between col-md-4" dir="@(isRTL ? "RTL" : "LTR")">
    <h1 dir="@(isRTL ? "RTL" : "LTR")">@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>