@page
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@model ForgotPasswordConfirmation
@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Forgot password confirmation");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}



<h1>@ViewData["Title"]</h1>
<p dir="@(isRTL ? "RTL" : "LTR")">
    @localizationService.GetLocalizedHtmlString("Please check your email to reset your password.")
</p>
