@page
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@model LockoutModel

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Locked out");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@localizationService.GetLocalizedHtmlString("This account has been locked out, please try again later.")</p>
</header>
