@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "بازنشانی تایید رمز عبور";
}

<h1 style="direction:rtl">@ViewData["Title"]</h1>
<p>
    پسورد شما تغییر پیدا کرد <a asp-page="./Login">برای ورود اینجا را کلیک کنید</a>.
</p>
