@page
@using Common.Utilities.ClassUtilities;
@model SDLV1.Pages.Permission.CreateModel
@{
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>افزودن مجوز </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item active"> صندوق امانات بانک ملت  </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <p> @Html.ValidationMessage("CreateError")</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <form method="post" asp-page="Create">
                        <div class="card-body card-custom">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> نوع دسترسی </label>
                                    <select id="ChooseMenu" name="typeMenu" class="form-control" onchange="ShowMenu()">
                                        <option value="MainMenu">منو اصلی  </option>
                                        <option value="UnderTheMenu">زیر منو  </option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="Permission.SubCode"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Permission.Title"></label>
                                    <select asp-for="Permission.Title" class="form-control " id="MenuCode" onchange="findActions()">
                                        <option value="0"> انتخاب کنید </option>
                                        @foreach (var item in Model.Controllers as List<ControllerModel>)
                                        {
                                            <option data-url="@item.Url" value="@item.Number">@item.Title</option>
                                        }
                                    </select>
                                    <span class="text-danger" asp-validation-for="Permission.Title"></span>
                                </div>
                            </div>
                            <div class="col-md-6 hideCustom" id="UnderMenu">
                                <div class="form-group">
                                    <label asp-for="Permission.SubCode"></label>
                                    <select asp-for="Permission.SubCode" id="UnderMenuSelect" onchange="MenuSelect()" class="form-control">
                                        <option value="0"> انتخاب کنید </option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="Permission.SubCode"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Permission.Url"></label>
                                    <input asp-for="Permission.Url" id="Url-Menu" readonly class="form-control" />
                                    <span class="text-danger"  asp-validation-for="Permission.Url"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">ثبت اطلاعات </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function ShowMenu() {
        var typemenu = $("#ChooseMenu").val();
        if (typemenu == "MainMenu") {
            $("#UnderMenu").hide();
        }else{
            $("#UnderMenu").show();
        }
    }

    function findActions() {
        var typemenu = $("#ChooseMenu").val();
        if (typemenu == "MainMenu") {
            $("#Url-Menu").val($("#MenuCode option:selected").attr("data-url"));
        } else {
            $("#UnderMenuSelect option").remove();
            var code = $("#MenuCode").val();
            $.ajax({
                type: "POST",
                url: "?handler=GetActions",
                dataType: "json",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: {
                    "code": code,
                },
                success: function (data) {
                    $.each(data, function (key, value) {
                        console.log(value);
                        $('#UnderMenuSelect')
                            .append($("<option></option>")
                                .attr("value", value.number)
                                .attr("data-url", value.url)
                                .text(value.title));
                    });

                }
            });
        }


       
    }
    function MenuSelect(){
        $("#Url-Menu").val($("#UnderMenuSelect option:selected").attr("data-url"));
    }

</script>