
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.image-resize{
    height:400px;
    width:100%;
    border-radius:25px;
    object-fit: cover;
    object-position: center center;
}
.card-size-img{
    height:100px;
    width:100px;
    object-fit: contain;
    object-position: center center;
    align-self:center
        
}
.nav-div{

}

.main{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'B Mitra';
}


