@page
@model SDLV1.Pages.RegionCode.EditModel
@{
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>افزودن ناحیه</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item active"> صندوق امانات بانک ملت  </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <p> @Html.ValidationMessage("EditError")</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <form method="post" asp-page="Edit">
                        <div class="card-body card-custom">
                            <input asp-for="RegionCode.Id" type="hidden" />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="RegionCode.AreaName"></label>
                                    <input asp-for="RegionCode.AreaName" class="form-control" />
                                    <span class="text-danger" asp-validation-for="RegionCode.AreaName"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="RegionCode.AreaCode"></label>
                                    <input asp-for="RegionCode.AreaCode" class="form-control" />
                                    <span class="text-danger" asp-validation-for="RegionCode.AreaCode"></span>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">ثبت اطلاعات </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>