@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;

@*@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("SDL");
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}*@


<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <partial name="_Link" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <partial name="Navbar" />
        <partial name="Sidebar" />
        <SideBar></SideBar>
        <div class="content-wrapper">
           @RenderBody()
        </div>
        <footer class="main-footer">
        </footer>
    </div>
    <partial name="_Script" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
