
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
        <img src="/img/PSLogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">سامانه صندوق امانات  </span>
    </a>
    <div class="sidebar" style="direction: ltr">
        <div style="direction: rtl">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block"> رامین هنرمند </a>
                </div>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon  fa fa-circle"></i>
                            <p>
                                درجه
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Degree/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست  </p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon  fa fa-circle"></i>
                            <p>
                                نوع صندوق 
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/BoxTypes/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست  </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon fa fa-circle"></i>
                            <p>
                                ناحیه 
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/RegionCode/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست  </p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon fa fa-circle"></i>
                            <p>
                                شهر 
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Cities/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                     <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon fa fa-circle"></i>
                            <p>
                                شعبه 
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/BranchManager/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>مدیریت شعبات </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Branch/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p> شعبات   </p>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a asp-page="/Customers/Create" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p> مشتری    </p>
                                </a>
                            </li>
                              <li class="nav-item">
                                <a asp-page="/State/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p> استان    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Bank/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p> بانک     </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Repositories/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p> مخزن      </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Users/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p> کاربران      </p>
                                </a>
                            </li>

                            
                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon fa fa-circle"></i>
                            <p>
                                اطلاعات پایه 
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a asp-page="/Roles/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>نقش    </p>
                                </a>
                            </li>
                        </ul>
                    </li>





                  

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon fa fa-circle"></i>
                            <p>
                                بیمه
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                           
                            <li class="nav-item">
                                <a asp-page="/Insurance/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست  </p>
                                </a>
                            </li>
                        </ul>
                    </li>

                     <li class="nav-item has-treeview">
                        <a href="#" class="nav-link m-0 submenu">
                            <i class="nav-icon fa fa-circle"></i>
                            <p>
                               مجوز
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                           
                            <li class="nav-item">
                                <a asp-page="/Permission/Index" class="nav-link m-0 under-menu">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست  </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>
