@page
@model Disable2faModel
@{
    ViewData["Title"] = "غیر فعال کردن  احراز هویت دو عاملی";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>این بخش فقط احراز هویت دو عاملی را غیر فعال می کند.</strong>
    </p>
    <p>
        غیرفعال کردن 2FA کلیدهای مورد استفاده در برنامه های احراز هویت را تغییر نمی دهد. اگر می خواهید کلید را تغییر دهید
        باید در یک برنامه احراز هویت استفاده شود <a asp-page="./ResetAuthenticator">کلیدهای احراز هویت خود را بازنشانی کنید</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit"> 2FA غیر فعال کردن</button>
    </form>
</div>
