@page
@using Microsoft.Extensions.Options;
@using SDLV1.Resources;
@using System.Globalization;
@model DownloadPersonalDataModel

@inject LocalizationService localizationService

@inject IOptions<RequestLocalizationOptions> ioOptions

@{
    ViewData["Title"] = @localizationService.GetLocalizedHtmlString("Download Your Data");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("fa");
}

<h3 dir="@(isRTL ? "RTL" : "LTR")">@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
