@page
@using Data.Dto;
@model SDLV1.Pages.CustomerType.EditModel
@{
}

@{
  
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>ویرایش نوع مشتری  </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item active"> صندوق امانات بانک ملت  </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <p> @Html.ValidationMessage("CreateError")</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <form method="post" asp-page="Edit">
                        <input asp-for="CustomerType.Id" type="hidden" />
                        <div class="card-body card-custom">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CustomerType.TypeName"></label>
                                    <input asp-for="CustomerType.TypeName" class="form-control" />
                                    <span class="text-danger" asp-validation-for="CustomerType.TypeName"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CustomerType.MonthlyPriceRatio"></label>
                                    <input asp-for="CustomerType.MonthlyPriceRatio" class="form-control" />
                                    <span class="text-danger" asp-validation-for="CustomerType.MonthlyPriceRatio"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CustomerType.TrustPriceRatio"></label>
                                    <input asp-for="CustomerType.TrustPriceRatio" class="form-control" />
                                    <span class="text-danger" asp-validation-for="CustomerType.TrustPriceRatio"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CustomerType.BlockedPriceRatio"></label>
                                    <input asp-for="CustomerType.BlockedPriceRatio" class="form-control" />
                                    <span class="text-danger" asp-validation-for="CustomerType.BlockedPriceRatio"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CustomerType.EntranceRatio"></label>
                                    <input asp-for="CustomerType.EntranceRatio" class="form-control" />
                                    <span class="text-danger" asp-validation-for="CustomerType.EntranceRatio"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CustomerType.EntrancePackagePrice"></label>
                                    <input asp-for="CustomerType.EntrancePackagePrice" class="form-control" />
                                    <span class="text-danger" asp-validation-for="CustomerType.EntrancePackagePrice"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CustomerType.BankId  "></label>
                                    <select class="form-control " asp-for="CustomerType.BankId">
                                        @foreach (var item in Model.Banks as List<BankDto>)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <span class="text-danger" asp-validation-for="CustomerType.BankId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">ثبت اطلاعات </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>