@model Data.Dto.LoginDto
@{
    Layout = null;
}
<style>
    /*import url(http://fonts.googleapis.com/css?family=Roboto:400);*/
    body {
        background-color: #fff;
        -webkit-font-smoothing: antialiased;
        font: normal 14px Roboto,arial,sans-serif;
        direction: rtl
    }

    .container {
        padding: 25px;
        position: fixed;
    }

    .form-login {
        background-color: #EDEDED;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        border-color: #d2d2d2;
        border-width: 5px;
        box-shadow: 0 1px 0 #cfcfcf;
        line-height: 37px;
    }

    h4 {
        border: 0 solid #fff;
        border-bottom-width: 1px;
        padding-bottom: 10px;
        text-align: center;
    }

    .form-control {
        border-radius: 10px;
    }

    .wrapper {
        text-align: center;
    }
</style>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@*<form method="post">
<div class=" container">
    <div class="Form-login">
        <p class="text-login">ورود به سامانه </p>
        <div class="col-md-12">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="input-form" />
        </div>
        <div class="col-md-12">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="input-form" />
        </div>
        <div class="col-md-12">
            <input class="btn btn-login" type="submit" value="ارسال اطلاعات " />
        </div>
    </div>

</div>
</form>*@

    <div class="container">
        <div class="">
            <form method="post" asp-controller="Account" asp-action="Index">
            <div class="col-md-4  offset-md-5" style="margin-right: 58%;">
                <div class="form-login">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input asp-for="Password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                   
                </div>
            </div>
        </form>
        </div>
    </div>

















<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>