@model Data.Dto.LoginDto
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Account.css" />
<div class="login-wrapper">
    <div class="container div-mainform">
        <form method="post" class="login-form">
            <div class="logo-wrapper mb-5">

                <img class="logo-img" src="~/img/sdlimg-web/pslogo.png" />
            </div>
            <div class="div-form">
                <div class="col-md-12 mb-3">
                    <label asp-for="UserName" class="text-login mb-1"></label>
                    <input class="form-control" type="text" asp-for="UserName" />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Password" class="text-login mb-1"></label>
                    <input class="form-control" type="text" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="col-md-12 mt-5 btn-login-wrapper">
                    <input type="submit" class="btn btn-login" value="ورود به سامانه " />
                </div>
            </div>
        </form>
    </div>

</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>